<div class="page_wrapper">
    <div class="form_wrapper">
        <h1>Вход</h1>
        <form class="form">
            {{{ FormFields }}}

            {{{ LoginButton }}}
            <a href="#Register">Регистрация</a>
        </form>
    </div>
</div>
