{{#> PageWrapper }}
{{#> Form title="Вход"}}
{{> Input label="Логин" name="login"}}
{{> Input label="Пароль" type="password" name="password"}}
{{> Button label="Вход" type="button"}}
<a href="#Register">Регистрация</a>
{{/Form}}
{{/PageWrapper}}