<div class="page_wrapper">
    <div class="register">
        <div class="form_wrapper">
            <h1>Регистрация</h1>

            {{{ FormFields }}}
            {{{ CreateButton }}}
            <a href="#Login">Войти</a>
        </div>
    </div>
</div>
