<div class="page_wrapper">
    <div class="profile">
        <a href="messenger" class="back_button">&lt;К чатам</a>
        <div class="user_avatar">
            {{{ Avatar }}}
        </div>
        <div class="form_wrapper">
            <form class="form">
                {{{ FormFields }}}
            </form>
        </div>
        <div class="profile__control">
            <a href="#">Изменить данные</a>
            <a href="#">Изменить пароль</a>
            {{{ LogoutButton }}}
        </div>
    </div>
</div>
