<div class="page_wrapper">
    <div class="profile">
        <div class="form_wrapper">
            <form class="form">
                {{{ FormFields }}}
            </form>
        </div>
        <div class="profile__control">
            {{{ SaveButton }}}
        </div>
    </div>
</div>
